.admin__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin__header{
    background-color: #193E4E;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    color: #F2EBCF;
}

.admin__header button{
    background-color: #C5B28A;
    color: #193E4E;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: .2s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.admin__header button:hover {
    background-color: #a39169;
    color: #193E4E;
}

.admin__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px 80px;
    padding: 50px 0;
}

.content__item{
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    marsgin: 0 20px;
}

.item__text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5B28A;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #193E4E;
    font-size: 15px;
}

.item__icon{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  #3a707e 0%, #193E4E 90% );
    color: #F2EBCF;
    font-size: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
