.cart__container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding-bottom: 100px;
}

.cart__name{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: relative;
}

.cart__name input{
    width: 100%;
    border: none;
    border: 1px solid #193E4E;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #193E4E;
    padding: 5px 5px 5px 35px;
}

.editName{
    position: absolute;
    left: 10px !important;
    color: #193E4E;
}

.cart__products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.cart__product{
    display: flex;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #C5B28A;
}

.cart__product:last-child {
    border-bottom: none;
}

.product__image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-coslor: red;
}

.product__image img{
    height: 100%;
}

.product__information{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    color: #193E4E;
    padding: 0 10px;
}

.product__information h3{
    font-size: 20px;
}

.product__information p{
    font-size: 17px;
}

.product__quantity{
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    color: #756748;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #C5B28A;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.cart__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__button button{
    background-color: #193E4E;
    color: #F2EBCF;
	font-size: 17px;
	font-weight: bold;
    width: 100%;
    padding: 13px 20px;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__button span:nth-child(1){
    letter-spacing: 1px;
}

.cart__button button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.emptyCart{
    font-size: 18px;
    color: #193E4E;
    font-weight: 500;
}


/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #F2EBCF;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
    margin-bottom: 20px;
    color: #193E4E;
}

.modal-content p{
    margin-bottom: 20px;
    color: #193E4E;
    font-weight: 500;
}

.form-group {
    margin-bottom: 15px;
}

.buttonCancel {
    background-color: #6c757d !important;
    color: #F2EBCF;
}

.buttonCancel:hover {
    background-color: #4f5458 !important;
}

.buttonDelete{
    background-color: rgb(185, 34, 34) !important;
    color: #F2EBCF;
}

.buttonDelete:hover{
    background-color: rgb(124, 0, 0) !important;
}

@media only screen and (min-width: 768px){

    .titlecartpc{
        display: none;
    }

    .cart__products{
        margin-left: 20%;
        width: 60%;
    }

    .cart__name input{
        padding: 10px 10px 10px 35px;
    }
}