.cart__container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 100px  ;
}

.cart__name{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.cart__name input{
    position: relative;
    width: 70%;
    border: none;
    border: 1px solid #193E4E;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #193E4E;
    padding: 5px 5px 5px 35px;
}

.editName{
    position: absolute;
    left: 30px;
    color: #193E4E;
}

.cart__products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.cart__product{
    display: flex;
    width: 100%;
    height: 115px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #C5B28A;
}

.cart__product:last-child {
    border-bottom: none;
}

.product__image{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image img{
    height: 100px;
}

.product__information{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    color: #193E4E;
}

.product__information h3{
    font-size: 20px;
}

.product__quantity{
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    color: #756748;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #C5B28A;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.cart__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__button button{
    background-color: #193E4E;
    color: #F2EBCF;
	font-size: 18px;
	font-weight: bold;
    width: 100%;
    padding: 13px 20px;
	outline: none;
	border: none;
	border-radius: 15px;
	transition: .2s ease-in;
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button:hover{
	background-color: #928567;
    color: #4b412d;
}

