.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.content__infoScanner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 20px 0;
    min-height: 200px;
}

.content__img{
    width: 30%;
    position: relative;
}

.content__img img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
}

.content__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 50%;
    color: #193E4E;
}

.content__info p{
    font-size: 14px;
}

.content__info button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: #193E4E;
    color: #F2EBCF;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.content__info button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.content__infoStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.content__infoStep h2{
    font-size: 20px;
}

.content__infoStep h3, .content__infoStep h2{
    color: #193E4E;
}

.wrapper {
    font-size: 14px;
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
}

.StepProgress-item {
    position: relative;
    counter-increment: list;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}

.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
}

.StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 12px;
    height: 12px;
    border: 2px solid #998967;
    border-radius: 50%;
    background-color: #C5B28A;
}

.StepProgress-item.is-done::before {
    border-left: 2px solid #193E4E;
}

.StepProgress-item.is-done::after {
    content: "✔";
    font-size: 10px;
    color: #F2EBCF;
    text-align: center;
    border: 2px solid #193E4E;
    background-color: #193E4E;
}

.StepProgress-item.current::before {
    border-left: 2px solid #193E4E;
}

.StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 19px;
    height: 18px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: #193E4E;
    border: 2px solid #193E4E;
    background-color: #C5B28A;
    font-weight: 500;
}

.StepProgress h3 {
    display: block;
    color: #193E4E;
}

.StepProgress p{
    font-size: 15px;
    color: #193E4E;
}

footer {
    margin-stop: 50px;
    background-color: #C5B28A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 15px;
    color: #193E4E;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.55);
}

footer.show {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
    padding: 20px;
}


.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__about, .footer__categories, .footer__links{
    display: flex;
    flex-direction: column;
}

.footer__about h2, .footer__categories h2, .footer__links h2{
    margin-bottom: 5px;
}

.footer__top h2{
    color: #193E4E;
    font-size: 20px;
}

.footer__top p{
    font-size: 15px;
}

.footer__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-top: 2px solid #F2EBCF;
    padding: 10px 0 0 0;
}

.footer__copy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.toggle-footer-button{
    background-color: transparent;
    border: none;
    color: #193E4E;
    font-size: 25px;
    margin-top: 20px;
}

@media only screen and (min-width: 768px){
    .content{
        padding: 50px 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .content__infoScanner{
        justify-content: space-evenly;
        background-colsor: red;
    }

    .content__info h3{
        font-size: 30px;
    }

    .content__info p{
        font-size: 18px;
        width: 70%;
    }

    .content__info button{
        padding: 10px 30px;
        font-size: 18px;
    }

    .content__infoStep{
        gap: 30px;
    }

    .content__infoStep h2{
        font-size: 30px;
        color: #193E4E;
    }

    .content__infoStep h3{
        font-size: 25px;
    }

    .StepProgress p{
        font-size: 18px;
    }

    .StepProgress {
        position: relative;
        padding-left: 45px;
        list-style: none;
        width: 50%;
    }

    .toggle-footer-button{
        display: none;
    }

    footer {
        margin-top: 50px;
        background-color: #C5B28A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: #193E4E;
        box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.55);
        padding: 30px !important;
        opacity: 1;
        max-height: 500px; /* Ajusta según el contenido */
        opacity: 1;
        padding: 20px;
    }
    
    .footer__top{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        gasp: 30px;
        width: 75%;
        bsackground-color: red;
    }

    .footer__about{
        width: 50%;
    }
    
    .footer__about, .footer__categories, .footer__links{
        display: flex;
        flex-direction: column;
    }
    
    .footer__about h2, .footer__categories h2, .footer__links h2{
        margin-bottom: 5px;
    }
    
    .footer__top h2{
        color: #193E4E;
        font-size: 22px;
    }
    
    .footer__top p{
        font-size: 18px;
    }
    
    .footer__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        border-top: 3px solid #F2EBCF;
        padding: 10px 0 0 0;
        width: 75%;
    }
    
    .footer__copy{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .footer__media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 22px;
    }
    
    .toggle-footer-button{
        background-color: transparent;
        border: none;
        color: #193E4E;
        font-size: 25px;
        margin-top: 20px;
    }
}