.delivery__container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    padding-bottom: 100px;
}

.delivery__local, .delivery__address, .delivery__selectAddress{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 5px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.infoSelectAddress{
    margin-bottom: 10px;
}

.delivery__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    color: #193E4E;
}

.delivery__container button{
    background-color: #193E4E;
    color: #F2EBCF;
	font-size: 17px;
	font-weight: bold;
    width: 100%;
    padding: 13px 20px;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.delivery__container button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.delivery__showAddress{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 10px;
    gap: 10px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgba(189, 183, 183, 0.2);
    z-index: 99;
    margin-top: 2px;
}

.showAddress__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.delivery__showAddress p{
    font-size: 19px;
    font-weight: 550;
    color: #193E4E;
}

.selectedAddress{
    border: 4px solid #193E4E;
}

