.shop__container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}

.aisle:before{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    borsder: 1px solid black;
    background: linear-gradient(180deg, rgba(33,33,33,0.8324579831932774) 30%, rgba(255,255,255,0) 100%);

}

.shop__container img {
    width: 1600px;
    height: 100vh;
    display: block;
    object-fit: cover;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.point {
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    border: 1px solid rgb(153, 153, 153);
}

.arrow {
    position: absolute;
    border-radius: 2em;
    padding: 12px 0 12px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    overflow: hidden; /* Ocultar el contenido que se desborda */
    transition: transform 0.6s ease;
    cursor: pointer;
    background-color: rgb(234, 231, 228, 0.3);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.95);
    transition: width 0.3s, transform 0.3s;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 17px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
}

.arrow:hover{
    width: 125px;
}

.arrowup:hover{
    width: 160px;
}

.arrowAtras{
    position: absolute;
    right: 0;
}

.arrowAtras:hover{
    width: 115px;
    transform: translateX(-90px);
}

.arrowText{
    font-size: 15px;
    color: white;
    font-weight: 500;
    max-width: 0; /* Inicialmente establecer el ancho máximo en 0 */
    white-space: nowrap; /* Evitar que el texto se envuelva */
    transition: max-width 0.6s ease, border-radius 0.6s ease; /* Agregar transiciones */
}

.arrowIcon{
    margin: 0 6px 0 5px;
}

.arrowup .arrowIcon{
    margin: 0 6px 0 6px;
}

.arrowLimpieza:hover{
    width: 140px;
}

.arrowCarnesAtras:hover{
    width: 125px;
    transform: translateX(-105px);
}

.arrowEmbutidosAtras:hover{
    width: 140px;
}

.arrowLacteos:hover{
    width: 130px;
}

.arrowHigiene:hover{
    width: 130px;
}

.arrowSnacks:hover{
    width: 130px;
}


/* Tooltip container */
.tooltip {
    position: absolute;
    background-color: rgb(234, 231, 228, 0.9);
    color: #193E4E;
    padding: 6px 11px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 10;
    border: 3px solid white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* Tooltip visible */
.tooltip.visible {
    visibility: visible;
    opacity: 1;
}

.shop__container.blur img:nth-child(1) {
    filter: blur(1.5px); 
}

.shop__sections__button {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 35px 20px;
    z-index: 3;
}

.shop__sections__button button {
    background-color: #193e4e;
    color: #F2EBCF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.shop__sections__button button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.title__shop {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 99;
    color: #F2EBCF;
}

.shop__menu {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.shop__menu.visible {
    opacity: 1;
    visibility: visible;
}

.shop__menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.shop__menu p {
    font-size: 23px;
    color: #F2EBCF;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

.shop__menu p:hover {
    color: #C5B28A;
}

a {
    text-decoration: none;
}

.shop__help {
    position: fixed;
    z-index: 5;
    right: 0;
    left: 0;
    bottom: 0;
    height: 65vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    transition: bottom 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    opacity: 1;
    visibility: visible;
}

.shop__help.hidden {
    bottom: -65vh; /* Esconder hacia abajo */
    opacity: 0;
    visibility: hidden;
}

.help__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5px;
    text-align: center;
}

.help__info h1 {
    font-size: 22px;
    color: #C5B28A;
}

.help__info p {
    font-size: 15px;
    color: #F2EBCF;
}

.shop__help img {
    height: 80%;
    width: auto;
}

.help__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
    font-size: 20px;
    color: #C5B28A;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    cursor: pointer;
}

.chat__thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 1;
    background-color: #F2EBCF;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.chat__thumbnail.visible {
    opacity: 1;
}

.chat__thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.chat__thumbnail p {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 0 0;
    font-weight: bold;
    background-color: #F2EBCF;
    border-radius: 50%;
    padding: 0 5px;
    text-align: center;
}

.chat__container {
    position: fixed;
    z-index: 5;
    bottom: -90vh; /* Ocultar inicialmente */
    left: 0;
    right: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    transition: bottom 0.4s ease; /* Transición */
}

.chat__container.visible {
    bottom: 0; /* Mostrar el chat cuando es visible */
}

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    color: #F2EBCF;
    background-color: #193E4E;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    height: 12%;
    z-index: 6;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.50);
}

.chat__header__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat__header__info img {
    height: 50px;
    width: 50px;
    background-color: #F2EBCF;
    border-radius: 50%;
}

.chat__close {
    font-size: 25px;
    margin-top: -10px;
}

.chat__content {
    background-color: #F2EBCF;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 15px;
    color: #193E4E;
    overflow-y: scroll;
}

.message__received {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    gap: 5px;
}

.message__sent {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: right;
    gap: 5px;
}

.message__sent:not(:last-child),
.message__received:not(:last-child) {
    margin-bottom: 18px;
}

.message__received__content {
    background-color: #C5B28A;
    max-width: 80%;
    padding: 10px;
    border-radius: 0.7rem;
    font-weight: 500;
    font-size: 17px;
}

.chat__writer {
    height: 13%;
    background-color: #F2EBCF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__writer form {
    background-color: #C5B28A;
    width: 95%;
    height: 70%;
    border-radius: 2.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.file__input {
    display: inline-block;
    position: relative;
    text-align: center;
}

.chat__writer input[type="file"] {
    display: none;
}

.file__input__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #193E4E;
    background-color: #F2EBCF;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}

.chat__writer input[type="text"] {
    min-width: 65%;
    height: 70%;
    background-color: transparent;
    border: none;
    font-size: 17px;
    outline: none;
}

.chat__writer button {
    color: #193E4E;
    background-color: #F2EBCF;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    margin: 0;
}

/* fruits.css */

.menu-products {
    position: absolute;
    padsding: 25px 0 0 0;
    z-index: 1000;
    border-radius: 8px;
    background-color: rgb(234, 231, 228, 0.8);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.95);
    transition: width 0.3s, transform 0.3s;
    font-size: 18px;
    border: 3px solid rgb(255, 255, 255);
    color: #193E4E;
    font-weight: 500;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.menu-products ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-products li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 13px 11px 10px;
}

.menu-products li:hover{
    background-color: rgb(234, 231, 228, 0.9);
}

.menu-products button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 7px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: #193E4E;
    cursor: pointer;
}

.dotProduct{
    font-size: 9px;
}



@media only screen and (min-width: 768px) {
    .shop__container {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
    }
    
    .shop__container img {
        width: 100%;
        position: static;
        height: 100vh;
    }

    .shop__sections__button {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 20px 20px;
        z-index: 3;
    }

    .shop__help {
        position: fixed;
        z-index: 5;
        right: 0;
        left: 0;
        bottom: 0;
        height: 50vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .shop__help.hidden {
        bottom: -50vh;
        opacity: 0;
        visibility: hidden;
    }

    .help__info {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 40px;
        gap: 5px;
        text-align: start;
    }

    .help__info h1 {
        font-size: 32px;
        color: #C5B28A;
    }

    .help__info p {
        font-size: 22px;
        color: #F2EBCF;
    }

    .shop__help img {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 110vh;
        width: 40%;
        margin: auto 0;
    }

    .chat__thumbnail.visible {
        opacity: 1;
    }

    .chat__thumbnail img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .chat__header__info img {
        height: 50px;
        width: 50px;
        background-color: #F2EBCF;
        border-radius: 50%;
    }
}
