.header{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #193e4e;
    z-index: 5;
    displays: none;
}

.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 35px;
    color: white;
}

.header__info__text{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header__info__img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 35px;
}

.header__search input{
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 100%;
    padding: 15px;
    outline: none;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.55);
}

.header__search input::placeholder{
    color: rgb(168, 168, 168);
}

.notis{
    font-size: 26px;
    cursor: pointer;
}

.header__pc{
    display: none;
}


@media only screen and (min-width: 768px){
    .header{
        display: none;
    }

    .header__pc{
        display: flex;
        height: 15vh;
        padding-left: 20%;
        width: 100%;
        position: absolute;
        background-color: transparent;
        z-index: 10;
    }

    .header__search__pc{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 30px;
        background-colsor: green;
    }

    .header__search__pc input{
        border-radius: 10px;
        border: none;
        height: 55px;
        width: 60%;
        padding: 15px;
        outline: none;
        box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
        background-color: rgba(67, 66, 66, 0.7);
        border: 2px solid rgb(67, 66, 66);
        padding-left: 45px;
        position: relative;
    }

    .header__search__pc input::placeholder{
        color: rgb(241, 241, 241);
        font-size: 15px;
    }

    .lupaHeaderPc{
        position: absolute;
        left: 0;
        margin-left: 39%;
        color: rgb(241, 241, 241);
    }
}