.hero{
    width: 100%;
    height: 200px;
    position: relative;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hero::after{
    content: '';
    position: absolute;
    z-index: -91;
    width: 100%;
    height: 100%;
    background-color: #193e4e;
}

.background{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -50;
}

.hero::before{
    content: '';
    z-index: -49;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 100%;
}

.hero h1{
    color: white;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.hero button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: #193E4E;
    color: #F2EBCF;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.45);
    cursor: pointer;
    letter-spacing: 1px;
}

.hero button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.logo{
    display: none;
}

.hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

@media only screen and (min-width: 768px){

    .hero{
        width: 100%;
        height: 85vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 15px;
    }

    .hero__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: 30%;
        margin-left: 50px;
        padding-left: 20px;
        border-left: 12px solid #F2EBCF;
    }

    .hero::after{
        content: '';
        position: absolute;
        z-index: -90;
        width: 100%;
        height: 100%;
        background-color: #193e4e;
    }

    .hero::before{
        content: '';
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: -49;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.70);
        width: 100%;
        height: 100%;
    }

    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -50;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .hero h1{
        displsay: none;
        color: #F2EBCF;
        text-align: left;
        font-size: 24px;
        margin-top: -5px;
        font-weight: 500;
        width: 200%;
    }

    .hero button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 35px;
        border-radius: 10px;
        border: none;
        background-color: #F2EBCF;
        color: #193E4E;
        font-weight: bold;
        font-size: 18px;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.65);
        cursor: pointer;
        letter-spacing: 1px;
    }

    .logo{
        display: flex;
        width: 100%;
    }

}
