.hero{
    width: 100%;
    height: 200px;
    position: relative;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hero::after{
    content: '';
    position: absolute;
    z-index: -91;
    width: 100%;
    height: 100%;
    background-color: #193e4e;
}

.background{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -50;
    pointer-events: none;
}

.hero::before{
    content: '';
    z-index: -49;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 100%;
}

.hero h1{
    color: white;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.hero button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: #193E4E;
    color: #F2EBCF;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.45);
    cursor: pointer;
    letter-spacing: 1px;
}

.hero button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.logo{
    display: none;
}

.hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

@media only screen and (min-width: 768px){

    .hero{
        width: 80%;
        height: 100vh;
        padding-left: 20%;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .hero::before{
        content: '';
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: -49;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
    }

    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -50;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .hero__info{
        background-colors: red;
        margin: 0 33% 0 33%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: relative;
    }

    .hero__info button{
        position: absolute;
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #F2EBCF;
        color: #193E4E;
        font-weight: bold;
        font-size: 25px;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.65);
        cursor: pointer;
        letter-spacing: 1px;
        width: 100%;
        padding: 14px 0;
    }

    .hero button:hover{
        background-color: #d6c6a2;
        color: #193E4E;
    }

    .logo{
        display: flex;
        width: 100%;
    }

    .hero h1{
        display: none;
    }

}
