.method__container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.method__cards{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 10px;
    color: #193E4E;
}

.method__add__cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.method__add__cards button{
    background-color: #193E4E;
    color: #F2EBCF;
	font-size: 16px;
	font-weight: bold;
    width: 35%;
    padding: 8px 15px;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.method__add__cards button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.container {
    position: relative;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.selected{
    border: 4px solid #193E4E;
    padding: 4px;
    height: 180px;
    width: 320px;
    transition: .3s;
    border-radius: 15px;
}

.card {
    width: 300px;
    height: 100%;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #193E4E, #B2CFD7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no {
    font-size: 15px;
    margin-top: 20px;
}

.card-holder {
    font-size: 10px;
    margin-top: 10px;
}

.name {
    font-size: 15px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 20px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 10px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 15px;
    padding: 5px 10px;
}

.signature {
    margin-top: 20px;
}

.signature p{
    font-size: 15px;
}

.signature img{
    height: 15px;
    width: 50px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}

.method__button{
    width: 100%;
}

.method__button button{
    background-color: #193E4E;
    color: #F2EBCF;
	font-size: 17px;
	font-weight: bold;
    width: 100%;
    padding: 13px 20px;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.method__button button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}


.method__info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #193E4E;
}

.method__icon{
    font-size: 20px;
}

.method__summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.method__summary h3{
    margin-bottom: 5px;
    color: #193E4E;
    font-size: 21px;
}

.method__summary p{
    color: #193E4E;
    font-size: 17px;
}

.summary__products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #193E4E;
    gap: 15px;
}

.summary__product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 5px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 5px;
    border-radius: 10px;
}

.summary__product__image{
    width: 30%;
}

.summary__product__image img{
    width: 100%;
}

.summary__product__information{
    width: 70%;
}

.summary__delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #193E4E;
}

.summary__delivery p{
    font-size: 17px;
    margin-top: 5px;
    font-weight: 500;
}

.delivery__map{
    background-color: red;
    width: 45%;
    height: 175px;
    margin-top: 5px;
}

hr{
    height: 1px;
    background-color: #193E4E;
    border: none;
}
