.product__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.product__img{
    object-fit: cover;
    min-height: 40%;
    max-height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.product__img img{
    height: 90%;
    max-width: 100%;
}

.product__info{
    background-color: #C5B28A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 130px 30px;
    gap: 20px;
    max-height: 55%;
    min-height: 60%;
    width: 100%;
}

.product__info button{
    background-color: #193e4e;
    color: #F2EBCF;
	font-size: 18px;
	font-weight: bold;
    padding: 15px 0;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
}

.product__info button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.product__info__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #F2EBCF;
    padding: 20px;
    border-radius: 15px;
    color: #193e4e;
}

.details__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.details__name p{
    font-size: 17px;
}

.details__data{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.details__count{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

.details__count p{
    font-size: 19px;
}

.product__title{
    display: flex;
    align-items: center;
    width: 100%;
    color: #193E4E;
    font-size: 15px;
    gap: 7px;
    padding: 20px;
}

.menu__container__product{
    background-color: #C5B28A;
    width: 100%;
}

.menu__container__product .menu__center{
    background-color: #C5B28A
}

.title__product{
    padding: 20px;
}


@media only screen and (min-width: 768px){
    
}