.product__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-colors: blue;
}

.product__img{
    object-fit: cover;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-colors: purple;
}

.product__img img{
    height: 95%;
    background-colors: red;
}

.product__info{
    background-color: #C5B28A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 120px 30px;
    gap: 20px;
    height: 65%;
    width: 100%;
}

.product__info button{
    background-color: #193e4e;
    color: #F2EBCF;
	font-size: 18px;
	font-weight: bold;
    padding: 15px 0;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
}

.product__info button:hover {
    background-color: #091f29;
    color: #F2EBCF;
}

.product__info__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #F2EBCF;
    padding: 20px;
    border-radius: 15px;
    color: #193e4e;
    height: 100%;
}

.details__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    text-align: center;
}

.details__name p{
    font-size: 19px;
}

.details__data{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.details__count{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

.details__count p{
    font-size: 20px;
    font-weight: 500;
}

.product__title{
    display: flex;
    align-items: center;
    width: 100%;
    color: #193E4E;
    font-size: 15px;
    gap: 7px;
    padding: 20px;
}

.menu__container__product{
    background-color: #C5B28A;
    width: 100%;
}

.menu__container__product .menu__center{
    background-color: #C5B28A
}

.title__product{
    padding: 20px;
    position: relative;
    z-index: 99;
}

.product__info__recomendations{
    display: none;
}


@media only screen and (min-width: 768px){
    .product__container{
        margin-left: 20%;
        width: 80%;
        flex-direction: row;
    }

    .product__img{
        width: 40%;
    }
    
    .product__img img{
        background-color: #C5B28A;
        height: 150%;
        border-radius: 15px;
        box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.65);
    }

    .product__info{
        width: 60%;
        height: 100vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 30px;
    }
    
    .product__info__details{
        box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.65);
        order: 1;
    }

    .details__name p{
        font-size: 22px;
    }

    .details__data{
        font-size: 20px;
    }

    .details__count{
        font-size: 25px;
    }

    .details__count p{
        font-size: 25px;
    }

    .product__info button{
        order: 2;
        box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.65);
    }

    .product__info__recomendations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 3;
        width: 100%;
        gap: 20px;
        margin-top: 15px;
    }

    .product__info__recomendations h1{
        font-size: 30px;
        color: #193E4E;
    }

    .recomendations{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    
    .product__recomendation{
        height: 100%;
        min-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
        background-color: #F2EBCF;
        color: #193E4E;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.65);
    }

    .product__recomendation button{
        padding: 10px;
        font-size: 16px;
    }

    .product__recomendation img{
        height: 100px;
    }

    .product__recomendation h2{
        font-size: 20px;
        text-align: center;
    }
}