.profile{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 20px 20px 20px;
    margin-bottom: 100px;
    min-heisght: 100vh;
}

.profile__data, .profile__history, .profile__favorites, .profile__payment, .profile__logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 7px;
    width: 100%;
}

.profile__data h2{
    color: #193e4e;
}

.profile__data button{
	background-color: #c5b28a;
    color: #756748;
	font-size: 17px;
	font-weight: bold;
    padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    letter-spacing: 1px;
}

.profile__data button:hover{
	background-color: #928567;
    color: #4b412d;
}

.profile__history h2{
    color: #193e4e;
}

.profile__history p{
    color: #193E4E;
}

.history__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    color: #193E4E;
}

.history__item:hover{
    font-weight: bold;
}

.history__more{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    color: #193E4E;
    cursor: default;
}

.profile__favorites h2{
    color: #193e4e;
}

.favorites__items{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 25px;
    overflow-x: scroll;
    padding: 0 10px;
}

.favorites__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px 20px 5px;
}

.item__info{
    width: 100%;
    display: flex;
    align-items: center;
    color: #193e4e;
}

.item__info p{
    width: 80%;
}

.favorites__item img{
    height: 150px;
    width: 125px;
    border-radius: 2px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
}




.profile__payment{
    color: #193e4e;
}

.cards{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.container {
    position: relative;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #193E4E, #B2CFD7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no {
    font-size: 15px;
    margin-top: 20px;
}

.card-holder {
    font-size: 10px;
    margin-top: 10px;
}

.name {
    font-size: 15px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 20px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 10px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 15px;
    padding: 5px 10px;
}

.signature {
    margin-top: 20px;
}

.signature p{
    font-size: 15px;
}

.signature img{
    height: 15px;
    width: 50px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}

.payment__new{
    margin-top: 5px;
    background-color: #c5b28a;
    color: #756748;
	font-size: 17px;
	font-weight: bold;
    padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    letter-spacing: 1px;
}

.payment__new:hover{
	background-color: #928567;
    color: #4b412d;
}

.profile__logout h2{
    color: #193e4e;
}

.profile__logout button{
    background-color: #c5b28a;
    color: #756748;
	font-size: 17px;
	font-weight: bold;
    padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    letter-spacing: 1px;
}

.profile__logout button:hover{
	background-color: #928567;
    color: #4b412d;
}


/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #F2EBCF;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #193E4E;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #193E4E;
    font-size: 17px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 2px solid #c5b28a;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.password-input {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 35px;
    color: #193E4E;
}

.modal button {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #193E4E;
    color: #F2EBCF;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #0056b3;
}

.modal button[type="button"] {
    background-color: #6c757d;
    color: #F2EBCF;
}

.modal button[type="button"]:hover {
    background-color: #3b3d3f;
}

.novalogo{
    display: none;
}

@media only screen and (min-width: 768px){
    .profile__container{
        min-height: 85vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../assets/background.png), rgba(85, 85, 85, 0.2);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-blend-mode: darken;
        z-index: -1;
    }

    .profile{
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 40px;
        margin-bottom: 0;
        background-color: #F2EBCF;
        width: 90%;
        min-height: 0;
        height: 70vh;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.65);
    }

    .novalogo{
        z-index: 7;
        height: 300px;
        position: fixed;
        bottom: -20px;
        right: 300px;
    }
    
}