.shop__container{
    position: relative;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}

.shop__container img{
    height: 100%;
    overflow-y: hidden;
    object-fit: cover;
}