.title{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: #193E4E;
    font-size: 15px;
    gap: 7px;
}

.title__icon{
    font-size: 22px;
}

@media only screen and (min-width: 768px){
    .title{
        display: none;
    }

    .title__product{
        display: none;
    }
    
}